
  




*{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;
	
}




.color-white{
    color:white;
}


/*  css for home section*/
.home-leftside, .home-rightside{
 height:100vh;
 
}





.home-leftside{
    background:rgb(248, 248, 248);

}

.home-rightside{
    background:#f1e2d7;
}
.home-leftside > img{    
    background-size: cover;
    background-position: 50% 50%;
    
    height:100vh;
    position:relative;
    margin-left:-174px;
    overflow-x:hidden;
}

.home-leftside > a{
    position:absolute;
    margin-left:120px;
    margin-top:20px;
    z-index:1;
    color:rgb(8, 8, 8);
    font-size:25px;
    font-weight:bold;
    

}

.home-title{
    padding-top:160px;
    padding-left:50px;
    padding-right:50px;
}

.home-title > h4{
  text-transform:uppercase;
  color: #999;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 6px;
  
}

.home-title > p{
    
    color: rgb(153, 153, 153);
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 2px;
    
    
  }


.btn {
    background-color: transparent;
    border: 3px solid #232B2B;
    border-radius: 100px;
    color: #232B2B;
    font-size: 13px;
    font-weight:bold;
    letter-spacing: 1.6px;
    padding: 12px 36px;
    margin-top: 30px;
    margin-left:0;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background: #E3AE57;
    border-color: transparent;
    color: #ffffff;
  }



/*  css for about section   */

/*.about-part1 , .about-part2, .about-part3{
    height:62h;
    position:relative;
    
}*/




.about-part1{
    background:rgb(255, 255, 255);
    position:relative;
    z-index:1;
    padding:50px;
    
}

.about-part1 >h1{
    font-size: 42px;
    padding-bottom: 14px;
    margin-bottom: 0px;

}

.about-part1 .color-yellow{
    color:rgb(227, 174, 87);
    font-weight:bold;
}

.about-part1 > p{

    color: rgba(17, 16, 16, 0.8);
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 2px;
}


.about-part2 > img{
    background-size: cover;
    background-position: 50% 50%;  
  
    width:340px;
    height:56vh;
    position:relative;
    z-index:1;

    
    

    
}


.about-part3{
    background:rgb(227, 174, 87);
    padding:30px 30px 42px 50px;
    position:relative;
    z-index:1;
}
 .about-part3  h1{
     color:white;
     font-size:42px;
     font-weight:400;
 }

 .about-part3  .color-white{
    color:white;
    font-size:18px;
    
}

.about-part3  .skill{
    padding:10px 0 10px 0;
}

  
  #about .progress {
    background: #ffffff;
    border-radius: 0px;
    box-shadow: none;
    height: 2px;
  }
  
  #about .progress-bar-primary {
    background: #232B2B;
  }
  
  #about strong{
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
    
    
  }
  #about span{
      color:white;
  }



  /* css for service section   */

.service-part1{
    background:rgb(227, 174, 87);
}

.service-part2{
    background:rgb(245, 137, 37);
}
.service-part3{
    background:rgb(27, 27, 26);
}
.service-part4{
    background:rgb(255, 255, 255);
}


.service-part1, .service-part2, .service-part3,.service-part4{
    position:relative;
    bottom:0;
    height:50vh;
    padding: 52px 22px 52px 22px;

    
}


#service > div{
   text-align:center;
   
  }
  .service-part1, .service-part2, .service-part3{
   color:white;
}
.service-part4{
    color:black;
    
}

  
  #service .fa {
    font-size: 42px;
    padding-bottom: 22px;
  }

  #service p {
    font-size: 18px;
    line-height: 30px;
  }
  
  


  /*   css for experience section  */
.exp-part1{
    background:rgb(255, 255, 255);
}

.exp-part2{
    background:rgb(245, 137, 37);
}
  
.exp-part1, .exp-part2{
    position:relative;
    bottom:0;
    height:60vh;
    
}

.exp-part1 img{
   
  
    width:100%;
    height:60vh;
}

.exp-part2{
    padding:45px 0 45px 60px;
}

.exp-part2 h1,h3{
   color:white;
   font-size:30px;
   font-weight:bold;
}

.exp-part2 p{
    font-size:18px;
    
}


  
  #experience .fa {
    font-size: 42px;
    margin-right: 14px;
    color:white;
  }
  
  #experience small {
    color: rgb(65, 10, 10);
    font-size:15px;
    font-weight:bold;
  }
 

/* css for education section  */
.edu-part1{
    background:rgb(227, 174, 87);
}

.edu-part2{
    background:rgb(107, 34, 34);
}
  
.edu-part1, .edu-part2{
    position:relative;
    bottom:0;
    height:70vh;
    
}


.edu-part1{
    padding:45px 10px 45px 60px;
}

.edu-part1 h1,h3{
   color:white;
   font-size:30px;
   font-weight:bold;
}

.edu-part1 p{
    font-size:18px;
    
}

  
  #education .fa {
    font-size: 42px;
    margin-right: 14px;
    color:white;
  }
  
  #education small {
    color: rgb(65, 10, 10);
    font-size:15px;
    font-weight:bold;
  }

.edu-part2 img{
    
    width:100%;
    height:70vh;
}


#quotes  img{
    
    position:sticky;
    width:100%;
    height:80vh;
    z-index:-1;
    
}

.bg-black{
    background:rgba(0,0,0,0.6);
}
.quotes-body{
    position:absolute;
    top:30%;
    left:0;
    right:0;
    z-index:1;
   
    color:white;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    padding:20px;

}

.quotes-body h2{
    padding:30px 200px 10px 200px;
}
.quotes-body p{
    font-size:20px;
    color:rgba(255,255,255,0.5);
    padding:20px;

}


/*  css for contact section*/

.contact-part1{
    background:rgba(238, 88, 51, 0.973);
}
.contact-part2{
    background:rgb(252, 250, 250);
}
.contact-part3{
    background:rgb(10, 3, 3);
}

  
.contact-part1, .contact-part2, .contact-part3{
    position:relative;
    bottom:0;
    height:75vh;
    
}

.contact-part1{
    padding-left:30px;

}

.contact-title h1,p{
padding:10px 0 5px 5px;
}

#contact .form-control::-moz-placeholder{color:#ffffff;opacity:1}
#contact .form-control:-ms-input-placeholder{color:#ffffff}
#contact .form-control::-webkit-input-placeholder{color:#ffffff}
  
  
  #contact .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #E3AE57;
    border-radius: 0px;
    box-shadow: none;
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
    transition: all 0.4s ease-in-out;
  }
  
  #contact .form-control:focus {
    border-bottom-color: #ffffff;
  }
  
  #contact input {
    height: 45px;
  }
  
  #contact input[type="submit"] {
    background: #ffffff;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #161616;
    padding-bottom: 10px;
  }
  
  #contact input[type="submit"]:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }



.contact-part2 img{
    width:100%;
    height:75vh;
}

.contact-part3{
    padding:30px;
}

.contact-info h3{
  font-size:25px;
  font-weight:normal;
  padding:5px;
}

.contact-info p{
    color:rgba(255, 255, 255, 0.5);
    padding:5px;
  }

.contact-info .fa{
    color:rgba(252, 248, 248, 0.6);
    padding:5px;
}

.contact-info a{
    color:rgb(227, 174, 87);
    padding:5px;
  }

  




  /*   css for media query*/
  
  @media screen and (max-width:768px){
   
  
   .home-leftside > img{
    
        width:657px;
        height: 100vh;
        object-fit: cover;
        object-position:50% 50%;
       
        
    
   }

    .home-title{
        padding:50px;

        
        
    }


    /*  for about section */
    
    .about-part2 img{
        width:100%
    }
     

  
    /*   for experience section*/
    .exp-part2{
        margin:0;
        height:70vh;
    }


    /*   for education section*/
    .edu-part1{
        margin:0;
        height:80vh;
    }
    .quotes-body{
      padding:0;
   }
    .quotes-body h2{
    padding:2px;;
  }
   .quotes-body p{
    
    padding:2px;

  }
  
  .contact-part1{
      height:90vh;
      padding:10px;
  }
}

